@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ff: 'Rubik', sans-serif;
  --h1-color: white;
  --dark-gray: hsl(0, 0%, 17%);
  --light-gray: hsl(0, 0%, 59%);
  --button-hover: hsl(0, 0%, 25%);
  --divider-color: hsl(0, 0%, 85%);
}

body {
  min-height: 100vh;
}
